global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend postgres_write
    bind *:5000
    default_backend patroni_primary

backend patroni_primary
    option httpchk GET /primary
    http-check expect status 200

    server db1 db-node1:5432 check port 8008
    server db2 db-node2:5432 check port 8008
    server db3 db-node3:5432 check port 8008


frontend postgres_read
    bind *:5001
    default_backend patroni_replicas

backend patroni_replicas
    balance roundrobin

    option httpchk GET /replica
    http-check expect status 200

    server db1 db-node1:5432 check port 8008
    server db2 db-node2:5432 check port 8008
    server db3 db-node3:5432 check port 8008


listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /
